{% extends 'base.html.twig' %}

{% block title %}Edit Identification{% endblock %}

{% block body %}
    <h1>Edit Identification</h1>

    {{ include('Identification/_form.html.twig', {'button_label': 'Update'}) }}



    {{ include('Identification/_delete_form.html.twig') }}
{% endblock %}
