{% extends 'base.html.twig' %}

{% block title %}New Identification{% endblock %}

{% block body %}
    <h1>Create new Identification</h1>

    {{ include('Identification/_form.html.twig') }}

    <a href="{{ path('app_Identification_index') }}">back to list</a>
{% endblock %}
