{% extends 'base.html.twig' %}

{% block title %}Ippower{% endblock %}

{% block body %}
    <h1>Identification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Identification.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ Identification.type }}</td>
            </tr>

        </tbody>
    </table>
<div class="form-group pb-4">
    <a href="{{ path('app_Identification_index') }}" class="btn btn-dark">Retour</a>

    <a href="{{ path('app_Identification_edit', {'id': Identification.id}) }}" class="btn btn-primary">Edit</a>
</div>
{% endblock %}
