{% extends 'base.html.twig' %}

{% block title %}Machine{% endblock %}

{% block body %}
    <h1>Machine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ machine.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ machine.nom }}</td>
            </tr>
        </tbody>
    </table>
<div class="form-group pb-4">
    <a href="{{ path('app_machine_index') }}" class="btn btn-dark">Retour</a>

    <a href="{{ path('app_machine_edit', {'id': machine.id}) }}">edit</a>
</div>
{% endblock %}
