<form method="post" action="{{ path('app_ssh_delete', {'id': ssh.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ssh.id) }}">
    <button class="btn">Delete</button>
</form>
