{% extends 'base.html.twig' %}

{% block title %}Ajout ssh{% endblock %}

{% block body %}
    <h1>Ajout ssh</h1>

    {{ include('ssh/_form.html.twig') }}

    <a href="{{ path('app_ssh_index') }}">retour</a>
{% endblock %}
