{% extends 'base.html.twig' %}

{% block title %}Ssh{% endblock %}

{% block body %}
    <h1>Ssh</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ssh.id }}</td>
            </tr>
            <tr>
                <th>Server</th>
                <td>{{ ssh.server.nom }}</td>
            </tr>

        </tbody>
    </table>
<div class="form-group pb-4">
    <a href="{{ path('app_ssh_index') }}" class="btn btn-dark">Retour</a>

    <a href="{{ path('app_ssh_edit', {'id': ssh.id}) }}" class="btn btn-primary">Edit</a>
</div>


{% endblock %}
