<form method="post" action="{{ path('app_server_delete', {'id': server.id}) }}" onsubmit="return confirm('être vous sur vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ server.id) }}">
    <div class="d-grid gap-2 pt-2">
        <button class="btn  btn-danger ">Effacer</button>
    </div>
</form>
